@import "tailwindcss";

/* Tailwind custom classes must be inside layer */
@layer components {
     .input {
    @apply border p-2 w-full rounded;
  }

  .btn {
    @apply bg-blue-600 text-white px-4 py-2 rounded;
  }

  body {
  background-color: #f1f5f9; /* slate-100 */
}


}
